.pink {
    color:palevioletred;
}
h1 {
    color:blue;
}

body{
    color:rgb(98, 0, 128);
}

.box{
    height: 100px;
    width: 10%;
    padding: 20px;
    margin: 50px;
    border: 10px solid palevioletred;
    background-color: pink;
}